#left{
    -fx-alignment:top-left;
}

#right{
    -fx-alignment:top-right;
    -fx-pref-width: 200;
}

#renderBtn{
    -fx-pref-height: 50;
}

#visualRender{
    -fx-background-color: black;
}

#networkEditorControls{
    -fx-alignment: top-right;
}

#controls > *{
    -fx-padding: 15;
    -fx-spacing: 10;
}