#left{
    -fx-alignment:top-left;
}

#right{
    -fx-alignment:top-right;
    -fx-pref-width: 200;
}

#renderBtn{
    -fx-pref-height: 50;
}

#visualRender{
    -fx-background-color: black;
    /*-fx-background-image: url("https://vignette.wikia.nocookie.net/ttte/images/d/d6/MainThomasCGI2.png/revision/latest?cb=20180130081706");*/
}

#networkEditorControls{
    -fx-alignment: top-right;
}

#controls > *{
    -fx-padding: 15;
    -fx-spacing: 10;
}